<div class="container mt-4">

  <div class="card">
      <div class="card-header bg-success">
        <h5>Liste des Terrains</h5>

      </div>
      <div class="card-body">
        <a routerLink="/AddTerrain" class="btn btn-primary">Ajouter un Terrain</a>
        <table class="table table-striped table-hover">
          <thead >
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Surface</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let terrain of ter">
              <td>{{ terrain.id }}</td>
              <td>{{ terrain.nom }}</td>
              <td>{{ terrain.surface }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteTerrain(terrain.id)">Supprimer</button>
              </td>
            </tr>
            <tr *ngIf="ter.length === 0">
              <td colspan="4" class="text-center text-muted">
                Aucun terrain trouvé.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
